<style type="text/css">
	.morceau{
		border-bottom: 1px gray solid;
		min-height: 3em;
		/*max-height:3em;*/
	}
    .morceau.small{
        min-height: 2em;
    }
	.morceau:hover  .button{
		visibility: visible;
	}
	.morceau .button {
		cursor:pointer;
		visibility: hidden;
	}
    .morceau .button:hover{
        text-shadow: 0 0 1em white;
    }

	.morceau .detail {
		margin-right: 0;
		padding-right: 0;

	}
	.morceau .detail-right{
		text-align: right;
	}

    .morceau .artist-name:hover{
        cursor: pointer;
        color: #285e8e;
    }



</style>
<div class="morceau row" ng-class=" (morceau.artist != null) ? '' : 'small'" >
	<div ng-class=" (morceau.artist != null) ? 'col-xs-1' : 'col-xs-2'">
		<span class="button glyphicon glyphicon-play-circle" ng-click="vm.play(morceau)"></span>
		<span class="button glyphicon glyphicon-circle-arrow-down" ng-click="vm.enQueue(morceau)"></span>
	</div>
	<div class="detail " ng-class=" (morceau.artist != null) ? 'col-xs-10' : 'col-xs-9'">
		<div class="row">
			<div class="col-xs-9">
				[[morceau.title]]
			</div>
		</div>
		
		<div class="row" ng-if="morceau.artist != null">

			<div class="col-xs-12 artist-name" ng-click="vm.artistInfo(morceau)">
				<span class="glyphicon glyphicon-user"></span>
				&nbsp;[[morceau.artist.name]]
			</div>
			
		</div>
	</div>
</div>